:root{
    --text-color: rgb(249, 153, 153);
    --borderW-color: rgb(91, 21, 21);
    --border-color: rgb(146, 44, 44);
    --button-color: rgb(141, 51, 51);
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Quicksand";
    color: var(--text-color);
    text-align: center;
}
body{
    display: flex;
    min-height: 100vh;
    background: url(bg.png);
    background-size: cover;
    background-position: right;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--borderW-color);
    border-radius: 20px;
    background: transparent;
    padding: 30px 40px;
    backdrop-filter: blur(7px);
    box-shadow: 10px 8px 10px rgb(0,0,0);
    width: 420px;
}
form button{
    width: 100%;
    height: 45px;
    background: rgb(141, 51, 51);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 7px 5px 10px rgb(0,0,0);
    cursor: pointer;
    font-size: 16px;
    color: rgb(208, 153, 153);
    font-weight: 600;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
form > div{
    width: 100px;
    display: flex;
    justify-content: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 13px;
    padding: 0;
}
.input-box svg{
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    overlay: none;
}
.input-box input{
    width: 500px;
    height: 100;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(146, 44, 44);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(249, 153, 153);
    padding: 20px 45px 20px 20px;
    text-align: center;
}
.input-box input::placeholder{
    color: var(--text-color) ;
    text-align:center;
}
.register-link p a{
    color:rgb(249, 153, 153);
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}