.dropdown button{
    box-shadow: 2px 2px 3px rgb(104, 104, 104);
    background-color: rgb(107, 2, 2);
    color: rgb(181, 109, 109);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.dropdown a{
    display: block;
    color: rgb(176, 139, 139);
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    background-color: rgb(107, 2, 2);
    position: absolute;
    min-width: 100px;
    box-shadow: 4px 4px 3px rgb(63, 63, 63);
    top: 7px;
    right: 10px;
    border-radius: 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(55, 8, 8);
}
.dropdown a:hover{
    background-color: rgb(79, 0, 0);
}