.dropdown button{
    background-color: rgb(107, 2, 2);
    color: rgb(181, 109, 109);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: rgb(176, 139, 139);
}