.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(107, 2, 2);
    color: rgb(181, 109, 109);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: rgb(176, 139, 139);
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(108, 85, 85);
}
.dropdown .content{
    display: none;
    background-color: rgb(107, 2, 2);
    position: absolute;
    min-width: 100px;
    box-shadow: 4px 4px 3px rgb(57, 57, 57);
}
.dropdown:hover .content{
    display: block;
    
}
.dropdown:hover button{
    background-color: rgb(218, 156, 156);
    
}